<div>
    <h2 id="page-heading">
        <span>TD 002 Consommations</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-td-002-consommations" [routerLink]="['/td-002-consommations/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new TD 002 Consommations
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="tD002Consommations?.length === 0">
        <span>No tD002Consommations found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tD002Consommations && tD002Consommations.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Tr 006 Type Usage</span></th>
                    <th scope="col" ><span>Tr 004 Typ Energie</span></th>
                    <th scope="col" ><span>Tv 042 Tarif Energie</span></th>
                    <th scope="col" ><span>Consommation Energie Finale</span></th>
                    <th scope="col" ><span>Consommation Energie Primaire</span></th>
                    <th scope="col" ><span>Frais Annuels Energie</span></th>
                    <th scope="col" ><span>Est Efface</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tD002Consommations of tD002Consommations ;trackBy: trackId">
                    <td><a [routerLink]="['/td-002-consommations', tD002Consommations.id, 'view']">{{ tD002Consommations.id }}</a></td>
                    <td>{{ tD002Consommations.tr006TypeUsage }}</td>
                    <td>{{ tD002Consommations.tr004TypEnergie }}</td>
                    <td>{{ tD002Consommations.tv042TarifEnergie }}</td>
                    <td>{{ tD002Consommations.consommationEnergieFinale }}</td>
                    <td>{{ tD002Consommations.consommationEnergiePrimaire }}</td>
                    <td>{{ tD002Consommations.fraisAnnuelsEnergie }}</td>
                    <td>{{ tD002Consommations.estEfface }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/td-002-consommations', tD002Consommations.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/td-002-consommations', tD002Consommations.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(tD002Consommations)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
