<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-td-002-consommations-heading">Create or edit a TD 002 Consommations</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_tr006TypeUsage">Tr 006 Type Usage</label>
                    <input type="text" class="form-control" name="tr006TypeUsage" id="field_tr006TypeUsage"
                           formControlName="tr006TypeUsage"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_tr004TypEnergie">Tr 004 Typ Energie</label>
                    <input type="text" class="form-control" name="tr004TypEnergie" id="field_tr004TypEnergie"
                           formControlName="tr004TypEnergie"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_tv042TarifEnergie">Tv 042 Tarif Energie</label>
                    <input type="number" class="form-control" name="tv042TarifEnergie" id="field_tv042TarifEnergie"
                           formControlName="tv042TarifEnergie"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_consommationEnergieFinale">Consommation Energie Finale</label>
                    <input type="number" class="form-control" name="consommationEnergieFinale" id="field_consommationEnergieFinale"
                           formControlName="consommationEnergieFinale"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_consommationEnergiePrimaire">Consommation Energie Primaire</label>
                    <input type="number" class="form-control" name="consommationEnergiePrimaire" id="field_consommationEnergiePrimaire"
                           formControlName="consommationEnergiePrimaire"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_fraisAnnuelsEnergie">Frais Annuels Energie</label>
                    <input type="number" class="form-control" name="fraisAnnuelsEnergie" id="field_fraisAnnuelsEnergie"
                           formControlName="fraisAnnuelsEnergie"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_estEfface">Est Efface</label>
                    <input type="checkbox" class="form-control" name="estEfface" id="field_estEfface"
                           formControlName="estEfface"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
