<div class="offset-2 col-10 mr-0 mt-2">

	<div class="card mt-3" id="parcours">
		<div class="card-body">
			<h1 class="card-title">Mon parcours avec Suiv'Energies</h1>
			<hr class="col-md-3 ml-0" />
			<div class="card-text col-md-12">
				<img src="../../content/images/friseAccompagnement.svg"
					class="img-fluid" alt="Mon parcours">
			</div>
				<div class="col-md-10">
					<div class="row mt-3 justify-content-md-center">
						<div class="col-md-6">
							<button type="button" class="btn btn-primary">Demander
								un accompagnement personnalisé</button>
						</div>
					</div>
				</div>
			<div>
				<h4>Pourquoi éco-rénover mon logement ?</h4>
				<p>
				<ul>
					<li>améliorer mon confort, hiver comme été</li>
					<li>réduire mes factures d'énergie</li>
					<li>maintenir mon habitat dans les standards du marché</li>
					<li>réduire mon impact environnemental</li>
				</ul>
				</p>
			</div>
		</div>
	</div>

	<div class="card mt-3" id="conseils">
	<div class="card-body">
		<h1 class="card-title">Nos conseils éco-gestes</h1>
		<hr class="col-md-3 ml-0" />
		<div class="card-text col-md-12">
			<div class="row">
				<div class="col-md-10">
					<div class="row">
						<i class="mr-2 fas fa-thermometer-half fa-2x"></i>
						<h4>Chauffage</h4>
					</div>
					<hr class="ml-0 col-md-2" />
					<div class="row mt-3">
						<div class="col-md-8">
							<p>J'adapte la température de chaque pièce en fonction de ma
								présence et de mes activités. J'opte pour une température de
								19°C dans les pièces à vivre et de 16°C dans les chambres.</p>
						</div>
						<div class="col-md-4">
							<p class="bg-info text-center text-light economies">
								1°C de chauffage en moins équivaut à <strong>7%</strong>
								d'économie sur la facture d'énergie.
							</p>
						</div>
					</div>

					<div class="row mt-3">
						<div class="col-md-8">
							<p>Pour ma chaudière gaz individuelle, un entretien annuel de
								l'appareil et des conduits d'évacuation doit être réalisé tous
								les ans par un professionnel agréé.</p>
						</div>
						<div class="col-md-4">
							<p class="bg-info text-center text-light economies">
								L'entretien annuel du système de chauffage peut faire économiser
								<strong>10%</strong> d'énergie.
							</p>
						</div>
					</div>

					<div class="row mt-3">
						<div class="col-md-8">
							<p>Je m'assure de l'étanchéité des portes et fenêtres (joints
								d'étanchéité et mousse isolante, boudins de porte).</p>
						</div>
						<div class="col-md-4">
							<p class="bg-info text-center text-light economies">
								Portes et fenêtres sont responsables d'environ <strong>15%</strong>
								de la déperdition énergétique.
							</p>
						</div>
					</div>

					<div class="row">
						<i class="mr-2 fas fa-blender-phone fa-2x"></i>
						<h4>Electromenager</h4>
					</div>
					<hr class="ml-0 col-md-2" />
					<div class="row mt-3">
						<div class="col-md-8">
							<p>Je privilégie les équipements équipés A+++.</p>
						</div>
						<div class="col-md-8">
							<p>Je fais sécher le linge à l'extérieur quand le temps le
								permet.</p>
						</div>
					</div>

					<br />
					<div class="row">
						<i class="mr-2 fas fa-wind fa-2x"></i>
						<h4>Qualité de l'air</h4>
					</div>
					<hr class="ml-0 col-md-2" />
					<div class="row mt-3">
						<div class="col-md-8">
							<p>Je ne bouche pas les entrées et les sorties d'air qui
								permettent de faire circuler l'air intérieur du logement. Elles
								évacuent l'humidité et évitent la formation de moisissures.</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

