<div class="footer">
	<p class="footer-copyright text-center mt-2">
		Un service proposé par <a class="footer-copyright text-center mt-2"
			href="http://www.enrhy.fr/" target="_blank"><img
			src="../../../content/images/EnRHy3.svg" width="150px"></a>
	</p>
	<p class="footer-copyright text-center mt-2">Nous appeler : +33 (0)7 66 07 40 19 / +33 (0)7 66 89 91 63</p>
	<p class="footer-copyright text-center mt-2">
		Copyright © SuivEnergies.fr 2020 - <a
			class="footer-copyright text-center mt-2"
			href="https://www.enrhy.fr/mentions-legales" target="_blank">
			Mentions légales </a>
	</p>
</div>
