<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-td-011-instalation-chauffage-heading">Create or edit a TD 011 Instalation Chauffage</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_tr003TypeInstallationChauffage">Tr 003 Type Installation Chauffage</label>
                    <input type="text" class="form-control" name="tr003TypeInstallationChauffage" id="field_tr003TypeInstallationChauffage"
                           formControlName="tr003TypeInstallationChauffage"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_surfaceChauffee">Surface Chauffee</label>
                    <input type="number" class="form-control" name="surfaceChauffee" id="field_surfaceChauffee"
                           formControlName="surfaceChauffee"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_td012GenerateurChauffage">Td 012 Generateur Chauffage</label>
                    <select class="form-control" id="field_td012GenerateurChauffage" name="td012GenerateurChauffage" formControlName="td012GenerateurChauffage">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tD012GenerateurChauffageOption.id === editForm.get('td012GenerateurChauffage')!.value?.id ? editForm.get('td012GenerateurChauffage')!.value : tD012GenerateurChauffageOption" *ngFor="let tD012GenerateurChauffageOption of td012generateurchauffages; trackBy: trackById">{{ tD012GenerateurChauffageOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
