<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tD012GenerateurChauffage">
            <h2><span>TD 012 Generateur Chauffage</span> {{ tD012GenerateurChauffage.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Systeme Chauffage Cogeneration</span></dt>
                <dd>
                    <span>{{ tD012GenerateurChauffage.systemeChauffageCogeneration }}</span>
                </dd>
                <dt><span>Td 011 Installation Chauffage</span></dt>
                <dd>
                    <span>{{ tD012GenerateurChauffage.td011InstallationChauffage }}</span>
                </dd>
                <dt><span>Tr 004 Type Energie</span></dt>
                <dd>
                    <span>{{ tD012GenerateurChauffage.tr004TypeEnergie }}</span>
                </dd>
                <dt><span>Consommation Chauffage</span></dt>
                <dd>
                    <span>{{ tD012GenerateurChauffage.consommationChauffage }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/td-012-generateur-chauffage', tD012GenerateurChauffage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
