<!-- <div class="row"> -->
<!--     <div class="col-md-3"> -->
<!--         <span class="hipster img-fluid rounded"></span> -->
<!--     </div> -->

<!--     <div class="col-md-9"> -->
<!--         <h1 class="display-4">Welcome, Java Hipster!</h1> -->

<!--         <p class="lead">This is your homepage</p> -->

<!--         <div [ngSwitch]="isAuthenticated()"> -->
<!--             <div class="alert alert-success" *ngSwitchCase="true"> -->
<!--                 <span id="home-logged-message" *ngIf="account">You are logged in as user "{{ account.login }}".</span> -->
<!--             </div> -->

<!--             <div class="alert alert-warning" *ngSwitchCase="false"> -->
<!--                 <span>If you want to </span> -->
<!--                 <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span> -->
<!--             </div> -->

<!--             <div class="alert alert-warning" *ngSwitchCase="false"> -->
<!--                 <span>You don't have an account yet?</span>&nbsp; -->
<!--                 <a class="alert-link" routerLink="account/register">Register a new account</a> -->
<!--             </div> -->
<!--         </div> -->

<!--         <p> -->
<!--             If you have any question on JHipster: -->
<!--         </p> -->

<!--         <ul> -->
<!--             <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer">JHipster homepage</a></li> -->
<!--             <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener noreferrer">JHipster on Stack Overflow</a></li> -->
<!--             <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener noreferrer">JHipster bug tracker</a></li> -->
<!--             <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer">JHipster public chat room</a></li> -->
<!--             <li><a href="https://twitter.com/jhipster" target="_blank" rel="noopener noreferrer">follow @jhipster on Twitter</a></li> -->
<!--         </ul> -->

<!--         <p> -->
<!--             <span>If you like JHipster, don't forget to give us a star on</span> <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer">GitHub</a>! -->
<!--         </p> -->
<!--     </div> -->
<!-- </div> -->

<header class="masthead text-white text-center">
	<div class="overlay"></div>
	<div class="container h-100">
		<div class="row h-100">
			<div class="col-xl-12 m-auto">
				<h3 class="text-light">Puis-je faire des économies d'énergie
					dans mon logement ?</h3>
				<h3 class="text-light">Quels sont les travaux à réaliser ?
					Comment trouver les bons artisans ?</h3>
			</div>
		</div>
	</div>
</header>

<div class="container-fluid ">
	<div class="row">
		<h2 class="mx-auto">Mon accompagnement vers la rénovation
			énergétique</h2>
	</div>
	<div class="row my-4 justify-content-center">
		<div class="d-inline-flex">
			<div class="row">
				<img src="../../content/images/friseAccueil.svg" class="img-fluid"
					alt="Etiquette energetique">
			</div>
		</div>
	</div>
</div>

<div class="container-fluid home-body">
	<div class="row h-100">
		<div class="col-10 container-fluid row mx-auto">
			<div class="col-lg-4 my-auto">
				<div class="h-100">
					<div class="row no-gutters align-items-center">
						<div class="col-auto pr-3">
							<i class="fas fa-users fa-2x text-gray-300"></i>
						</div>
						<div class="col mr-2">
							<div
								class="text-xs font-weight-bold text-primary text-uppercase mb-1">Communauté</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">3589
								membres</div>
						</div>

					</div>
				</div>
			</div>

			<div class="col-lg-4 my-auto">
				<div class="h-100">
					<div class="row no-gutters align-items-center">
						<div class="col-auto pr-3">
							<i class="fas fa-comments fa-2x text-gray-300"></i>
						</div>
						<div class="col mr-2">
							<div
								class="text-xs font-weight-bold text-primary text-uppercase mb-1">Projets
								en cours</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">145</div>
						</div>

					</div>
				</div>
			</div>

			<div class="col-lg-4 my-auto">
				<div class="h-100">
					<div class="row no-gutters align-items-center">
						<div class="col-auto pr-3">
							<i class="fas fa-tag fa-2x text-gray-300"></i>
						</div>
						<div class="col mr-2">
							<div
								class="text-xs font-weight-bold text-primary text-uppercase mb-1">Réduction
								Gaz à Effet de serre</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">1778 t
								éqCO2</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
