<header class="masthead text-white text-center">
	<div class="overlay"></div>
	<div class="container h-100">
		<div class="row h-100">
			<div class="col-xl-12 m-auto">
				<h3 class="text-light"> Quelles sont les caractéristiques de mon
logement en terme de consommation d'énergies ?</h3>
				<h3 class="text-light">Puis-je faire des économies ?
Quels sont les travaux à réaliser ?
</h3>
			</div>
		</div>
	</div>
</header>

<div class="container-fluid ">
	<div class="row">
		<h2 class="mx-auto">Mon accompagnement vers la rénovation
			énergétique</h2>
	</div>
	<div class="row my-4 justify-content-center">
		<div class="d-inline-flex">
			<div class="row">
				<img src="../../content/images/friseAccueil.svg" class="img-fluid"
					alt="Etiquette energetique">
			</div>
		</div>
	</div>
</div>

