<header class="masthead text-white text-center">
	<div class="overlay"></div>
	<div class="container h-100">
		<div class="row h-100">
			<div class="col-xl-12 m-auto">
				<h3 class="text-light">Quelles sont les caractéristiques de mon
					logement en terme de consommation d'énergies ?</h3>
				<h3 class="text-light">Puis-je faire des économies ? Quels sont
					les travaux à réaliser ?</h3>
			</div>
		</div>
	</div>
</header>

<div class="container-fluid ">
	<div class="row">
		<h2 class="mx-auto">Mon accompagnement vers la rénovation
			énergétique</h2>
	</div>
	<div class="row my-4 justify-content-center">
		<div class="d-inline-flex">
			<div class="row">
				<img src="../../content/images/FriseGrise.png" class="img-fluid"
					alt="Etiquette energetique">
			</div>
		</div>
	</div>

	<div class="container-fluid ">
		<div class="row">
			<h2 class="mx-auto">En savoir plus sur la plateforme
				Suiv’Energies</h2>
		</div>
		<div class="row my-4 justify-content-center">
			<div>
				<h4>La plateforme Suiv’Energies est un service d’accompagnement
					à la rénovation énergétique.</h4>
				<h4>En créant votre compte, vous pourrez consulter gratuitement
					les outils d’analyse des consommations énergétiques du logement,
					suivant vos modes de vie, et trouver des pistes d’amélioration.</h4>
				<h4>Les différents services proposés :</h4>
				<p>
				<ul>
					<li>caractérisation du logement avec les déperditions du bâti
						et la répartition des dépenses d’énergies par usage</li>
					<li>situation du logement par rapport aux logements du même
						type dans le département</li>
					<li>conseils écogestes personnalisés</li>
					<li>mise à jour du DPE</li>
				</ul>
				</p>
			</div>
		</div>
	</div>
</div>

