<div id="top" class="offset-2 col-10 mr-0 mt-2">
	<div class="card ml-0" id="infos-dpe">
		<div class="card-header">
			<h4 class="text-primary mr-4">Les déperditions de mon logement
				(besoins en chauffage)</h4>
		</div>
		<div id="department" class="card-body">
			<div class="row">
				<div class="col">
					<div class="text-center">
						<h5 class="text-center text-primary d-inline-flex">
							<span class="pr-2">Toiture</span>
						</h5>
					</div>
					<div class="money-bag m-auto h-100">
						<div class="circle-icon-ko">
							<i class="fas fa-exclamation-triangle"></i>
						</div>
						<div class="text-center text-light my-auto">612 €/an</div>
					</div>
				</div>
				<div class="col"></div>
				<div class="col">
					<div class="text-center">
						<h5 class="text-center text-primary d-inline-flex">
							<span class="pr-2">Murs extérieurs</span>
						</h5>
					</div>
					<div class="money-bag m-auto h-100">
						<div class="circle-icon-ko">
							<i class="fas fa-exclamation-triangle"></i>
						</div>
						<div class="text-center text-light my-auto">839€/an</div>
					</div>
				</div>
			</div>
			<div class="row empty-row"></div>
			<div class="row mt-4">
				<div class="col">
					<div class="text-center">
						<h5 class="text-center text-primary d-inline-flex">
							<span class="pr-2">Portes et fenêtres</span>
						</h5>
					</div>
					<div class="money-bag m-auto h-100">
						<div class="circle-icon-ko">
							<i class="fas fa-exclamation-triangle"></i>
						</div>
						<div class="text-center text-light my-auto">347€ /an</div>
					</div>
				</div>
				<div class="col"></div>
				<div class="col">
					<div class="text-center">
						<h5 class="text-center text-primary d-inline-flex">
							<span class="pr-2">Planchers</span>
						</h5>
					</div>
					<div class="money-bag m-auto h-100">
						<div class="circle-icon-ok">
							<i class="fas fa-thumbs-up"></i>
						</div>
						<div class="text-center text-light my-auto">151€ /an</div>
					</div>
				</div>
			</div>
		</div>

		<div id="usages" class="card-header mt-4">
			<h3 class="text-primary mr-4">Mes Consommations par usage</h3>
		</div>
		<div id="chbar" class="card-body">
			<div class="row">
				<div class="col-4">
					<div class="text-center">
						<h5 class="text-center text-primary d-inline-flex">
							<i class="text-danger fab fa-hotjar pr-2"></i> <span class="pr-2">Chauffage</span>
						</h5>
					</div>
					<div class="money-bag m-auto h-100">
						<div class="circle-icon-ko">
							<i class="fas fa-exclamation-triangle"></i>
						</div>
						<div class="text-center text-light my-auto">1949€ /an</div>
					</div>
				</div>
				<div class="col-4">
					<div class="text-center">
						<h5 class="text-center text-primary d-inline-flex">
							<i class="text-info fas fa-tint pr-2"></i> <span class="pr-2">Eau
								chaude sanitaire</span>
						</h5>
					</div>
					<div class="money-bag m-auto h-100">
						<div class="circle-icon-ko">
							<i class="fas fa-exclamation-triangle"></i>
						</div>
						<div class="text-center text-light my-auto">263€ /an</div>
					</div>
				</div>
				<div class="col-4">
					<div class="text-center">
						<h5 class="text-center text-primary d-inline-flex">
							<i class="text-info fas fa-snowflake pr-2"></i> <span
								class="pr-2">Refroidissement</span>
						</h5>
					</div>
					<div class="money-bag m-auto h-100">
						<div class="circle-icon-ok">
							<i class="fas fa-thumbs-up"></i>
						</div>
						<div class="text-center text-light my-auto">0€ /an</div>
					</div>
				</div>
			</div>
			<div class="row empty-row"></div>
			<div class="row">
				<div class="col-4">
					<div class="text-center">
						<h5 class="text-center text-primary d-inline-flex">
							<i class="text-warning far fa-lightbulb pr-2"></i> <span
								class="pr-2">Eclairage</span>
						</h5>
					</div>
					<div class="money-bag m-auto h-100">
						<div class="circle-icon-ok">
							<i class="fas fa-thumbs-up"></i>
						</div>
						<div class="text-center text-light my-auto">31€ /an</div>
					</div>
				</div>
				<div class="col-4">
					<div class="text-center">
						<h5 class="text-center text-primary d-inline-flex">
							<i class="text-darkk fas fa-blender-phone pr-2"></i> <span
								class="pr-2">Electroménager</span>
						</h5>
					</div>
					<div class="money-bag m-auto h-100">
						<div class="circle-icon-ko">
							<i class="fas fa-exclamation-triangle"></i>
						</div>
						<div class="text-center text-light my-auto">419€ /an</div>
					</div>
				</div>
				<div class="col-4">
					<div class="text-center">
						<h5 class="text-center text-primary d-inline-flex">
							<i class="text-darkk fas fa-fan"></i> <span class="pr-2">Auxiliaires</span>
						</h5>
					</div>
					<div class="money-bag m-auto h-100">
						<div class="circle-icon-ko">
							<i class="fas fa-exclamation-triangle"></i>
						</div>
						<div class="text-center text-light my-auto">135€ /an</div>
					</div>
				</div>
			</div>
		</div>

		<div id="suivis" class="card-header mt-4">
			<h3 class="text-primary mr-4">Mes suivis de consommations
				mensuelles par énergie</h3>
		</div>
		<div class="card-body">
			<div class="row mx-auto">
				<div class="col-6">
					<div class="d-inline-flex col-12">
						<span class="col-6 my-auto">Electricité (KWh)</span> <input
							type="text" class="form-control col-3" aria-label="Small"
							value="308" readonly>
					</div>
					<div class="d-inline-flex col-12 mt-2">
						<span class="col-6 my-auto">Gaz (KWh)</span> <input type="text"
							class="form-control col-3" aria-label="Small" value="2 212"
							readonly>
					</div>
					<div class="d-inline-flex col-12 mt-2">
						<span class="col-6 my-auto">Fioul (l)</span> <input type="text"
							class="form-control col-3" aria-label="Small" value="0" readonly>
					</div>
					<div class="d-inline-flex col-12 mt-2">
						<span class="col-6 my-auto">Bois (KWh)</span> <input type="text"
							class="form-control col-3" aria-label="Small" value="0" readonly>
					</div>
				</div>
				<div class="col-6">
					<div class="d-inline-flex col-12">
						<span class="col-8 my-auto">Production en énergies
							renouvelables (KWh)</span> <input type="text" class="form-control col-3"
							aria-label="Small" value="0" readonly>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>